body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

.content {
    background-color: white;
    margin: 30px auto;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.signup-box {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.signup-box h2 {
    margin-bottom: 20px;
}

.signup-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup-box button {
    width: 100%;
    padding: 10px;
    background-color: #4ca3af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-box button:hover {
    background-color: #1310db;
}

button {
    padding: 10px 20px;
    background-color: #2471bf;
    color: white;
    border: yellow;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
    
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
